#Ignore all files in the repo "data"
data/
editing/
temp/
stimuli**/
stimuli/
fromJoan/
perspective taking-20230215T060449Z-001/
perspective taking-20230215T060449Z-001.zip
images_colorful squares-20230627T204235Z-001/